@model API_FantasticFeedback.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SurveyID" class="control-label"></label>
                <input asp-for="SurveyID" class="form-control" />
                <span asp-validation-for="SurveyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyTitle" class="control-label"></label>
                <input asp-for="SurveyTitle" class="form-control" />
                <span asp-validation-for="SurveyTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyTopic" class="control-label"></label>
                <input asp-for="SurveyTopic" class="form-control" />
                <span asp-validation-for="SurveyTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyCreatorName" class="control-label"></label>
                <input asp-for="SurveyCreatorName" class="form-control" />
                <span asp-validation-for="SurveyCreatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyCreated" class="control-label"></label>
                <input asp-for="SurveyCreated" class="form-control" />
                <span asp-validation-for="SurveyCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyComments" class="control-label"></label>
                <input asp-for="SurveyComments" class="form-control" />
                <span asp-validation-for="SurveyComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyImage" class="control-label"></label>
                <input asp-for="SurveyImage" class="form-control" />
                <span asp-validation-for="SurveyImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
