@{
    ViewData["Title"] = "Help";
}

<div>
    <h2 class=text-center>Help</h2>
    <br />
</div>

<div>
    <h4 class="font-weight-bold">Accounts</h4>
    <br />
    <h5>How do I log in or log out?</h5>
    <p>In the top right corner of your browser there should be button that says either log in or log out. Press this button to do the appropriate function.</p>
    <br />
    <h5>How do I create a new account?</h5>
    <p>Please contact accounts@fantasticfeedback.com.au for account creation.</p>
    <br />
</div>

<div>
    <h4 class="font-weight-bold">Creating New Elements</h4>
    <br />
    <h5>How do I make a new Survey?</h5>
    <p>After logging in, go to My Surveys. Press the "Create New Survey" link. Fill in the details for Survey creation and press submit.</p>
    <br />
    <h5>How do I make a new Question?</h5>
    <p>After creating a survey, navigate to the survey details page and press the "Create New Question" link. Fill in the details for Question creation and press submit.</p>
    <br />
    <h5>How do I make a new Question Answer?</h5>
    <p>After creating a question, navigate to the corresponding survey details page. Next to the desired question, press the "Create New Option" link. Fill in the details for Option creation and press submit.</p>
    <br />
</div>

<div>
    <h4 class="font-weight-bold">Modifying Elements</h4>
    <br />
    <h5>How do I edit a Survey/Question/Option?</h5>
    <p>Navigate to the Elements details page. Press the "Edit" link. Fill in the modified details for the Element.</p>
    <br />
    <h5>How do I delete a Survey/Question/Option?</h5>
    <p>Navigate to the Elements details page. Press the "Delete" link. Confirm the Elements deletion.</p>
    <br />
    <h5>Help! I accidentely deleted something! What do I do?</h5>
    <p>Contact support@fantasticfeedback.com.au with your Username, attached Survey Name, and details of the deleted Element.</p>
    <br />
</div>
