@model ChartJSCore.Models.Chart
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the future of survey creation!</h1>
    <p>Insert Homepage here...</p>
    <button class="btn btn-danger" onclick="toastr.warning('Button Clicked!')">Don't Press!</button>


    <div>
        <canvas id="questionsOverTimeChart"></canvas>
    </div>
</div>

<script src="~/lib/Chart.js/chart.js"></script>

<script>
    @{
        var reportData = (ChartJSCore.Models.Chart)ViewData["Graph"];
    }
    var
</script>
