@model FFFrontEnd.Models.Question

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionID" class="control-label"></label>
                <input asp-for="QuestionID" class="form-control" />
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionOrder" class="control-label"></label>
                <input asp-for="QuestionOrder" class="form-control" />
                <span asp-validation-for="QuestionOrder" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="QuestionVisible" /> @Html.DisplayNameFor(model => model.QuestionVisible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SurveyID" class="control-label"></label>
                <input asp-for="SurveyID" class="form-control" />
                <span asp-validation-for="SurveyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
