@model FFFrontEnd.Models.Option

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Option</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OptionText" class="control-label">Option Text:</label>
                <input asp-for="OptionText" class="form-control" />
                <span asp-validation-for="OptionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OptionOrder" class="control-label">Option Priority:</label>
                <input asp-for="OptionOrder" class="form-control" />
                <span asp-validation-for="OptionOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionID" class="control-label"></label>
                <input asp-for="QuestionID" class="form-control" readonly/>
                <span asp-validation-for="QuestionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
